module <%= @class_context %>
  module <%= @class_slice %>
    class <%= file_name.pluralize.camelize %>Controller < ApplicationController
<% if actions.include?('index') -%>
      def index
        records = <%= @resource_class %>.all
        render json: records
      end
<% end -%>
<% if actions.include?('show') -%>
      def show
        record = <%= @resource_class %>.find(params[:id])
        render json: record
      end
<% end -%>
<% if actions.include?('create') -%>
      def create
        form = <%= @resource_class %>Form.new(permitted_params)
        if form.save
          render json: form.record, status: :created
        else
          render json: { errors: form.errors }, status: :unprocessable_entity
        end
      end
<% end -%>
<% if actions.include?('update') -%>
      def update
        record = <%= @resource_class %>.find(params[:id])
        if record.update(permitted_params)
          render json: record
        else
          render json: { errors: record.errors }, status: :unprocessable_entity
        end
      end
<% end -%>
<% if actions.include?('destroy') -%>
      def destroy
        record = <%= @resource_class %>.find(params[:id])
        record.destroy
        head :no_content
      end
<% end -%>

      private

      def permitted_params
        params.require(:<%= @resource_name %>).permit(<%= attributes_kv.map { |(n, _)| ':' + n }.join(', ') %>)
      end
    end
  end
end
