module <%= @class_context %>
  module <%= @class_slice %>
    module Models
        class <%= @resource_class %> < ::ApplicationRecord
          def self.table_name: -> String
        end
    end
  end
end
